    <div id="header_wrapper">
<!--
       <div class="menu_item">
           Header Logic comes here
       </div>
-->
    <div id="header_menu">
       <div class="menu_item_link"> 
           <a href="#">Sign In</a>
       </div>
       <div class="menu_item_link">
           <a href="#">Sign Up</a>
       </div>
     </div> 
      <div class="clear"></div>  
    </div>
    <div id="spacer_wrapper">&nbsp;&nbsp;</div>
    <div id="main_wrapper">
        <h1>Pages#index</h1>
        <p>Find me in app/views/pages/index.html.erb</p>
    </div>
    <div id="footer_wrapper">
       Footer
    </div>
